@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #ffffff;
  --font-sans: var(--font-inter);
  --font-open: var(--font-open-sans);
  /* ===== Brand ===== */
  --color-brand-primary: #240457;
  --color-brand-primary-light: #9747ff;
  --color-text-light: #22252B;
  --color-brand-primary-img: #372365;

  --color-brand-secondary: #e8eef6;
  --color-brand-tertiary: #FF99C3;
  --color-brand-button: #8A38F5;

  --color-brand-business-button-light: #DCDCDC33;
  --color-brand-business-icon-light: #FFDFDF;
  --color-brand-business-icons-light: #DFEDFF;
  --color-brand-business-icon-dark: #185ADB;
  --color-brand-rating-star: #FF8D28;
  --color-brand-rating-star-border: #E5E7EB;
  --color-brand-rating-text-border: #6B7280;
  --color-brand-btn-pills: #8A38F5;
  --color-brand-btn-pills-background: #8943FE1A;
  /* ===== Surfaces ===== */
  --color-surface-DEFAULT: #ffffff;
  --color-surface-muted: #f3f4f6;
  --color-surface-elevated: #ffffff;
  --color-scaffold-background: #e3e3e3;
  --color-surface: #F8FAFC;
  --color-setting-background: #f0f0f0;
  /* Radio Button */
  --color-radio-button: #033495;

  /* ===== Text ===== */
  --color-text-primary: #010101;
  --color-text-secondary: #556179;
  --color-text-hint: #9ca3af;
  --color-text-inverse: #ffffff;
  --color-text-link: #2497cd;
  --color-text-gray-more: #768299;
  --color-text-setting-light: #444953;
  --color-text-setting-darks: #232323;
  --color-text-review-Page: #292D35;
  --color-text-busniessInt-Page: #2F343D;

  /* ===== Borders ===== */
  --color-border-light: #d3d6de;
  --color-border-dark: rgba(51, 51, 51, 0.6);
  --color-border-green: #0B8806;


  /* ===== Status / Accent ===== */
  --color-accent-success: #22c55e;
  --color-accent-warning: #facc15;
  --color-accent-danger: #dc2626;
  --color-accent-danger-light: #E0203D;

  --color-accent-info: #0a78d2;

  /* ===== Highlight Backgrounds ===== */
  --color-highlight-yellow: #fef3c7;
  --color-highlight-red: #fecaca;
  --color-highlight-purple: #e9d5ff;
  --color-highlight-blue: #d1defa;
  --color-highlight-green: #dcfce7;

  /* ===== Mislenous Colors ===== */
  --color-teal: #14b8a6;
  --color-brown: #92400e;
  --color-green: #0ea443;
  --color-purple-dark: #6b21a8;
  --color-blue-dark: #3b82f6;

  /* ===== Typography ===== */
  --font-primary: "Open Sans", sans-serif;
  --text-heading-size: 22px;
  --text-heading-weight: 400;

  /* ===== Shadows ===== */
  --shadow-appBar: 0 4px 10px rgba(0, 0, 0, 0.15);
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* ===== Radius ===== */
  --radius-input: 0.7rem;
  --radius-card: 0.4rem;

  /* ===== Sizes ===== */
  --height-input: 2.75rem;
  --spacing-100: 25rem;

}

@theme {
  --color-brand-primary: #240457;
  --color-brand-primary-light: #9747ff;
  --color-brand-primary-medium: #0d0b7a;
  --color-brand-secondary: #e8eef6;
  --color-text-light: #22252B;
  --color-brand-primary-img: #372365;
  --color-brand-secondary-dark: #0B192C;
  --color-brand-setting-ligh: #f3e8ff;
  --color-brand-setting-sky: #F0FDF5;
  --color-brand-setting-tab: #B4B4B433;
  --color-brand-job-create: #2E1065;
  --color-brand-business: #8A38F5;
  --color-brand-business-button-light: #DCDCDC33;
  --color-brand-business-icon-light: #FFDFDF;
  --color-brand-business-icons-light: #DFEDFF;
  --color-brand-business-icon-dark: #185ADB;
  --color-brand-rating-star: #FF8D28;
  --color-brand-rating-star-border: #E5E7EB;
  --color-brand-rating-text-border: #6B7280;
  --color-brand-rating-text-border-line: #DCDCDC1A;
  --color-brand-btn-pills: #8A38F5;
  --color-brand-btn-pills-background: #8943FE1A;
  /* ===== Surfaces ===== */
  --color-surface-DEFAULT: #ffffff;
  --color-surface-muted: #f3f4f6;
  --color-surface-elevated: #ffffff;
  --color-scaffold-background: #e3e3e3;
  --color-setting-background: #f0f0f0;
  --color-setting-invite-background: #FAF7F7;
  --color-surface: #ffffff;
  --color-accent-danger-light: #E0203D;
  /* ===== Text ===== */
  --color-text-primary: #010101;
  --color-text-secondary: #556179;
  --color-text-hint: #9ca3af;
  --color-text-inverse: #ffffff;
  --color-text-link: #2497cd;
  --color-text-gray-more: #768299;
  --color-text-light-gray-more: #474747;
  --color-text-orange: #CC6A21;
  --color-text-dark: #22252B;
  --color-text-light-setting: #32363F;
  --color-text-setting-dark: #40444C;
  --color-text-setting-light: #444953;
  --color-text-setting-darks: #232323;
  --color-text-review-Page: #292D35;
  --color-text-testimonials-Page: #FFBC06;
  --color-terms-terms-Page: #D1D5DB;
  --color-text-busniessInt-Page: #2F343D;

  /* ===== Borders ===== */
  --color-border-light: #d3d6de;
  --color-border-dark: rgba(51, 51, 51, 0.6);
  --color-border-orange: #CC6A21;
  --color-border-primary-light: #9747ff;
  --color-border-gray-light: #D1D7E3;
  --color-border-outline-light: #E3E7EE;
  --color-border-line-light: #D8D8D8;
  --color-bg-delete: #ff2a40;
  --color-bg-delete-hover: #e52538;
  --color-bg-gray-delete: #fafafa;
  --color-#556179: #22252B;
  /* ===== Status / Accent ===== */
  --color-accent-success: #22c55e;
  --color-accent-warning: #facc15;
  --color-accent-danger: #dc2626;
  --color-accent-info: #0a78d2;
  --color-accent-review-success: #14A148;
  --color-accent-review-success-light: #00FF5E2E;
  --color-accent-review-light-success: #00F95C30;
  --color-accent-Checked-box: #655BFF;

  /* radio Button */

  --color-radio-button: #033495;

  /* ===== Highlight Backgrounds ===== */
  --color-highlight-yellow: #fef3c7;
  --color-highlight-red: #fecaca;
  --color-highlight-purple: #e9d5ff;
  --color-highlight-blue: #d1defa;
  --color-highlight-green: #dcfce7;
  --color-highlight-light-gray: #dcdcdc;

  /* ===== Mislenous Colors ===== */
  --color-teal: #14b8a6;
  --color-brown: #92400e;
  --color-green: #0ea443;
  --color-purple-dark: #6b21a8;
  --color-blue-dark: #3b82f6;

  /* ===== Typography ===== */
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --text-heading-size: 22px;
  --text-heading-weight: 400;

  /* ===== Shadows ===== */
  --shadow-appBar: 0 4px 10px rgba(0, 0, 0, 0.15);
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* ===== Radius ===== */
  --radius-input: 0.7rem;
  --radius-card: 0.4rem;

  /* ===== Sizes ===== */
  --height-input: 2.75rem;
  --spacing-100: 25rem;


  --color-border: #f0f0f5;
  --color-background: #fafafc;
  --color-date-time: #545961;
  --color-reject: #ff3b30;
  --color-reject-hover: #e0342b;
  --color-approved: #008000;
  --color-approved-hover: #007000;
  --color-kyc-text-heading: #64748b;
  --color-kyc-text-subheading: #1e293b;
  --color-kyc-text-heading: #64748b;
  --color-kyc-bg: #ffebee;
  --color-kyc-text: #d32f2f;
  --color-kyc-text-hover: #2c0a59;
  --color-kyc-bg-icon: #2c0a59;
  --color-kyc-bg-border-gray: #fcfcfd;
  --color-text-purple: #7c3aed;
  --color-text-light-grayed: #475569;
  --color-text-light-white: #f1f5f9;
  --color-text-dark-green: #16a34a;
  --color-bg-btn-light: #f5effa;
  --color-text-plan: #2563eb;
  --color-text-primary-hover: #1d053b;
  --color-bg-white-light: #B4B4B433;
  --color-bg-experience-light: #F5F1FF;
  --color-text-work-dark: #202124;
  --color-text-dark-purple: #5A38A8;
  --color-bg-green-light: #D8F2DD;
  --color-border-btn-green: #0B8806;
  --color-bg-time-brand: #2D1B69;
  --color-purple-dark-light: #6D28D9;

  --color-border-gray-dark: #E3E7EE;

  --color-bg-gray-200:#DCDCDC33;
  --color-border-gray-200:#E3E7EE;
  --color-bg-light-icon:#ECEFF6;
  --color-bg-light-purple:#8A38F51A;

}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}



.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center gap-2 self-start rounded-md bg-brand-primary px-4 py-2 text-[0.9rem] font-medium text-text-inverse shadow-sm transition-opacity duration-200 hover:opacity-95 xl:px-5 xl:py-2.5 lg:text-[1rem] sm:self-auto disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer;
  }

  .form-input {
    @apply w-full rounded-xl text-black border border-[#E2E8F0] bg-white px-3 py-2.5 sm:px-4 sm:py-3 text-xs sm:text-sm focus:border-[#1E1B4B] focus:outline-none focus:ring-2 focus:ring-[#1E1B4B]/10 disabled:bg-gray-100 disabled:cursor-not-allowed;
  }

  .form-password {
    @apply w-full rounded-xl text-black border border-[#E2E8F0] bg-white px-3 py-2.5 pr-10 sm:px-4 sm:py-3 sm:pr-12 text-xs sm:text-sm tracking-widest placeholder:text-black focus:border-[#1E1B4B] focus:outline-none focus:ring-2 focus:ring-[#1E1B4B]/10 disabled:cursor-not-allowed disabled:bg-gray-100;
  }

  .roles-status {
    @apply inline-block rounded-md bg-brand-btn-pills-background px-3 py-1 text-xs font-medium text-brand-btn-pills;
  }

  .user-sidebar {
    @apply bg-brand-primary text-text-inverse p-2.5 rounded-xl flex items-center justify-center min-w-[2.5rem] h-[2.5rem];
  }

  .signout-btn {
    @apply flex-1 cursor-pointer rounded-xl bg-accent-danger py-3 text-sm font-medium text-white shadow-sm transition-colors duration-200 hover:bg-accent-danger-light disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .confirm-btn {
    @apply flex-1 cursor-pointer rounded-xl bg-purple-dark py-3 text-sm font-medium text-white shadow-sm transition-colors duration-200 hover:bg-purple-dark-light disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .signout-btn-cancel {
    @apply flex-1 cursor-pointer rounded-xl border border-gray-200 bg-white py-3 text-sm font-medium text-gray-700 transition-colors duration-200 hover:bg-gray-50;
  }

  .btn-primary-icon {
    @apply text-[0.9rem];
  }

  .search-filter {
    @apply h-[2.75rem] w-full rounded-[0.5rem] border border-[#D7DFEC] bg-white pl-[3rem] pr-[1rem] text-[0.875rem] text-black outline-none placeholder:text-[#718096] focus:border-[#1E1B4B];
  }

  .search-dropdown {
    @apply h-[2rem] w-[10.625rem] cursor-pointer rounded-[0.5rem] border border-[#D7DFEC] bg-white px-[1rem] text-[0.875rem] font-medium text-[#111827] outline-none;
  }

  .search-dropdown option {
    @apply px-4 py-3 border-b border-[#D7DFEC];
  }

  .pagination-container {
    @apply flex items-center gap-2;
  }

  .pagination-page {
    @apply h-10 min-w-10 rounded-md border border-[#E2E8F0] flex items-center justify-center text-sm font-medium text-[#111827] cursor-pointer transition-colors;
  }

  .pagination-page a {
    @apply flex h-full w-full items-center justify-center cursor-pointer;
  }

  .pagination-active {
    @apply bg-[#F8F5FF] border-[#32105F] text-[#32105F];
  }

  .pagination-active a {
    @apply text-[#32105F];
  }

  .pagination-previous,
  .pagination-next {
    @apply h-10 px-5 rounded-md border border-[#32105F] bg-white text-[#32105F] flex items-center justify-center text-sm font-medium transition-all duration-200 cursor-pointer;
  }

  .pagination-previous a {
    @apply flex h-full w-full items-center justify-center gap-2 cursor-pointer;
  }

  .pagination-next {
    @apply h-10 px-5 rounded-md bg-[#32105F] flex items-center justify-center text-sm font-medium text-white cursor-pointer transition-colors;
  }

  .pagination-next a {
    @apply flex h-full w-full items-center justify-center gap-2 cursor-pointer;
  }

  .pagination-break {
    @apply h-10 min-w-10 rounded-md border border-[#E2E8F0] flex items-center justify-center text-[#64748B] text-sm font-medium cursor-pointer;
  }

  .pagination-break a {
    @apply flex h-full w-full items-center justify-center text-[#64748B] no-underline cursor-pointer;
  }

  /* Disabled Previous/Next */
  .pagination-disabled {
    @apply pointer-events-none;
  }

  .pagination-previous:hover,
  .pagination-next:hover {
    @apply bg-[#32105F] text-white;
  }

  .pagination-disabled.pagination-previous,
  .pagination-disabled.pagination-next {
    @apply bg-[#E5E7EB] border-[#E5E7EB] text-[#A0AEC0] cursor-not-allowed;
  }

  .pagination-disabled a {
    @apply cursor-not-allowed;
  }

  .text-area {
    @apply w-full p-[1rem] bg-white border border-gray-200 rounded-[0.5rem] text-[0.9375rem] text-gray-700 placeholder:text-gray-400 focus:outline-none focus:border-[#2c0a59] resize-none;
  }

  .reject-btn {
    @apply px-[1.75rem] py-[0.625rem] bg-white border border-gray-200 hover:bg-gray-50 text-gray-700 font-semibold text-[0.9375rem] rounded-[0.5rem] cursor-pointer;
  }

  .confirm-reject {
    @apply flex items-center justify-center gap-[0.5rem] px-[1.75rem] py-[0.625rem] bg-reject hover:bg-[#e0342b] text-white font-light text-[1rem] rounded-[0.5rem] cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .action-Reject {
    @apply flex items-center justify-center gap-[0.5rem] px-[2rem] py-[0.60rem] bg-reject hover:bg-reject-hover text-white font-semibold text-[1rem] rounded-[0.5rem] transition-colors cursor-pointer shadow-sm;
  }

  .approved-btn {
    @apply flex items-center justify-center gap-[0.5rem] px-[2rem] py-[0.60rem] bg-approved hover:bg-approved-hover text-white font-semibold text-[0.9375rem] rounded-[0.5rem] transition-colors cursor-pointer shadow-sm;
  }
  .invite-btn {
    @apply mt-[1.25rem] flex w-full items-center justify-center gap-[0.375rem] rounded-[0.75rem] border border-gray-300 bg-white py-[0.75rem] text-[1rem] font-medium text-gray-800 transition-all hover:bg-gray-50 hover:border-gray-400 active:scale-[0.99] focus:outline-none cursor-pointer;
  }
}

.custom-bg {
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}